<div class="row mt" data-ng-controller="CustomersController" data-ng-init="find()">
  <div class="col-md-12">
    <div class="content-panel">
      <table class="table table-striped table-advance table-hover" datatable table-data="customers">
        <h4><i class="fa fa-angle-right"></i> Customer List</h4>
        <hr>
        <thead>
          <th></th>
          <th><i class="fa fa-bullhorn"></i> Name</th>
          <th><i class="fa fa-bookmark"></i> Company</th>
          <th></th>
        </thead>
      </table>
    </div>
  </div>
</div>