<section data-ng-controller="AddressController">
  <h3>New Address</h3>
  <div data-ng-show="error" class="alert alert-danger">
    <strong data-ng-bind="error"></strong>
  </div>
  <div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
        <form name="addressForm" class="left-align-form form-horizontal" data-ng-submit="create()" novalidate>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="first_name">First Name</label>
            <div class="col-sm-10">
              <input name="first_name" type="text" class="form-control" data-ng-model="first_name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="last_name">Last Name</label>
            <div class="col-sm-10">
              <input name="last_name" type="text" class="form-control" data-ng-model="last_name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="street_line1">Street Line 1</label>
            <div class="col-sm-10">
              <input name="street_line1" type="text" class="form-control" data-ng-model="street_line1" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="street_line2">Street Line 2</label>
            <div class="col-sm-10">
              <input name="street_line2" type="text" class="form-control" data-ng-model="street_line2" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="street_line3">Street Line 3</label>
            <div class="col-sm-10">
              <input name="street_line3" type="text" class="form-control" data-ng-model="street_line3" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="street_line4">Street Line 4</label>
            <div class="col-sm-10">
              <input name="street_line4" type="text" class="form-control" data-ng-model="street_line4" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="city">City</label>
            <div class="col-sm-10">
              <input name="city" type="text" class="form-control" data-ng-model="city" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="state">State</label>
            <div class="col-sm-10">
              <input name="state" type="text" class="form-control" data-ng-model="state" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="country">Country</label>
            <div class="col-sm-10">
              <input name="country" type="text" class="form-control" data-ng-model="country" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="zipcode">Zipcode</label>
            <div class="col-sm-10">
              <input name="zipcode" type="text" class="form-control" data-ng-model="zipcode" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button class="btn btn-theme">Create</button>
              <a data-ui-sref="customers.view({customerId: customerId})">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
