<section data-ng-controller="UserController" data-ng-init="findOne()">
  <div class="page-header">
    <h3>Edit User - <span data-ng-bind="user.username"></span></h3>
  </div>
  <div data-ng-show="error" class="alert alert-danger">
    <strong data-ng-bind="error"></strong>
  </div>
  <div class="col-md-12">
    <form name="userForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <div class="form-group">
        <label class="control-label" for="firstName">First Name</label>
        <div class="controls">
          <input name="firstName" type="text" data-ng-model="user.firstName" id="firstName" class="form-control" placeholder="First Name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="lastName">Last Name</label>
        <div class="controls">
          <input type="text" name="lastName" data-ng-model="user.lastName" id="lastName" class="form-control" placeholder="Last Name" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="email" name="email" data-ng-model="user.email" id="email" class="form-control" placeholder="Email" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" name="password" data-ng-model="user.password" id="password" class="form-control" placeholder="Password" />
        </div>
        <div class="help-block">
          Leave password field blank if you don't want to change it.
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="roles">Roles</label>
        <div class="controls">
          <input class="form-control" type="text" name="roles" data-ng-model="user.roles" id="roles" ng-list placeholder="Roles" />
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-theme">Update</button>
        <a data-ui-sref="admin.users.view({userId: user._id})">Cancel</a>
      </div>
    </form>
  </div>
</section>
