<section data-ng-controller="WorksController">
  <div class="container-small form-horizontal">
    <div class="form-inline">
      <h3>Flashing New Work
      <select class="form-control" data-ng-model="order_or_quote">
        <option value="order">order</option>
        <option value="quote">quote</option>
      </select>
      &nbsp;&nbsp;&nbsp;&nbsp;# <input name="order_number" type="text" class="form-control" data-ng-model="order_number" />
      </h3>
    </div>
    <p>Date in: <b>2015/10/10</b></p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 control-label" for="title">Customer:</label>
          <div class="col-sm-8">
            <select select-customers class="form-control" customer="customer"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 control-label" for="title">Bill To:</label>
          <div class="col-sm-8">
            <select select-address class="form-control" customer="customer" address="address"></select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 control-label" for="title">Ship To:</label>
          <div class="col-sm-8">
            <select select-address class="form-control" customer="customer" address="address"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 control-label" for="title">PO#:</label>
          <div class="col-sm-8">
            <input name="po" type="text" class="form-control" data-ng-model="po" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 control-label" for="title">Date Req#:</label>
          <div class="col-sm-8">
            <input name="date_req" type="text" class="form-control" data-ng-model="date_req" />
          </div>
        </div>
      </div>

      <!-- start of drawing section -->
      <div class="row">
        <div class="col-md-6 selected" ng-click="selectDrawing()">
          <div drawing work-id="test" drawing-body="testbody" command="command"></div>
        </div>
      </div>
    </div>
  </div>
</section>
