<div id="login-page" data-ng-controller="AuthenticationController">
  <div class="container">
    <form data-ng-submit="signin()" class="form-login" autocomplete="off">
      <h2 class="form-login-heading">sign in now</h2>
      <alert type="danger" data-ng-show="error" class="text-center text-danger">
          <span data-ng-bind="error"></span>
        </alert>
      <div class="login-wrap">
          <input type="text" class="form-control" placeholder="Username" data-ng-model="credentials.username" autofocus>
          <br>
          <input type="password" class="form-control" placeholder="Password" data-ng-model="credentials.password">
          <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
              <span class="pull-right">
                  <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>
              </span>
          </label>
          <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
          <hr>
      </div>
    </form>
  </div>
</div>